DJANGO_ALLOWED_HOSTS=127.0.0.1
DJANGO_INTERNAL_IPS=127.0.0.1
DJANGO_SECRET_KEY=<secret-key>
DJANGO_DEBUG=True
DJANGO_DATABASE_URL=postgresql://user:password@host:port/name
CELERY_BROKER_URL=amqps://<user>:<password>@<host>:<port>
UPDATE_MARKETS_INTERVAL=86400
UPDATE_KLINES_INTERVAL=600